<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="notes__nav">
      <h2 class="writtennote">
        <a
          class="memo"
          href="{{ url_for('note.get_notes') }}"
          title="NemoMingle"
        >
          MemoMingle<span class="slogan"
            >At Your Fingertips, Anywhere, Anytime!</span
          ></a
        >
      </h2>

      <div class="containerlogo">
        <img
          class="memologo edit"
          src="{{ url_for('static', filename='images/logo-memomingle.png') }}"
          alt="MemoMingle"
        />
      </div>

      <!-- Sign Out -->
      <a href="{{ url_for('auth.sign_out') }}" title="Sign Out">
        <img src="https://unpkg.com/lucide-static@latest/icons/log-out.svg" />
      </a>
    </nav>

    {% if note %}
    <form
      class="note__form"
      action="{{ url_for('note.edit_note', note_id=note._id) }}"
      method="POST"
    >
      <label class="note__form--label" for="title">Title</label>
      <input
        class="note__form--input"
        type="text"
        name="title"
        placeholder="Title"
        value="{{ note.title }}"
      />

      <label class="note__form--label" for="content">Content</label>
      <textarea class="textarea oi" name="content" placeholder="Content">
        {{ note.content }}
      </textarea>

      <!-- TAGS -->
      <label class="note__form--label" for="tags">Tags</label>
      <input
        class="note__form--input"
        type="text"
        name="tags"
        placeholder="Enter tags separated by semi-colons"
        value="{{ note.tags }}"
      />

      <input
        class="note__form--submit"
        type="submit"
        value="Update Note"
        class="button"
      />
    </form>
    {% endif %}
  </body>
</html>
