<footer>
  <span>© 2024 MyAppName</span>
  <a href="mailto:abc@gmail.com" id="contact-link">Contact Us</a>
  <button id="modal-btn">How to Use</button>
</footer>

<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="howToUseModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="howToUseModalLabel">How to Use</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <!-- TODO: div open -->

        <p>Some content here</p>

        <!-- div close -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          id="cancel"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
