<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Success -->
    {% if success %}
    <div id="success">
      <p>{{ success }}</p>
    </div>
    {% endif %}

    <!-- Error -->
    {% if error %}
    <div id="error">
      <p>{{ error }}</p>
    </div>
    {% endif %}

    <!-- NAV -->
    <nav class="notes__nav">
      <div class="">
        <h2 class="writtennote">
          <a
            class="memo"
            href="{{ url_for('note.get_notes') }}"
            title="NemoMingle"
          >
            MemoMingle<span class="slogan"
              >At Your Fingertips, Anywhere, Anytime!</span
            ></a
          >
        </h2>
      </div>
      <!-- Search bar -->
      <form
        class="notes__nav--search"
        action="{{ url_for('note.search_notes') }}"
        method="POST"
      >
        <input
          class="notes__nav--search--input"
          type="text"
          name="search"
          placeholder="Search"
          value="{% if search %}{{ search }}{% endif %}"
        />
        <button class="notes__nav--search--button" type="submit">
          <img
            class="notes__nav--search--button--icon"
            src="https://unpkg.com/lucide-static@latest/icons/search.svg"
          />
        </button>
      </form>
      <div class="containerlogo">
        <img
          class="memologo"
          src="{{ url_for('static', filename='images/logo-memomingle.png') }}"
        />
        <a href="{{ url_for('auth.sign_out') }}" title="Sign Out">
          <img src="https://unpkg.com/lucide-static@latest/icons/log-out.svg" />
        </a>
      </div>

      <!-- Sign Out -->
    </nav>

    <!-- NEW NOTE -->
    <section class="notes_new_section">
      <form
        class="notes__form"
        action="{{ url_for('note.create_note') }}"
        method="POST"
      >
        <input
          class="notes__form--input"
          type="text"
          name="title"
          placeholder="TITLE"
          value=""
        />

        <textarea
          class="notes__form--input textarea"
          name="content"
          placeholder="A new note ..."
        ></textarea>

        <button class="notes__form--button" type="submit">
          <img src="https://unpkg.com/lucide-static@latest/icons/send.svg" />
        </button>

        <input
          class="notes__form--input"
          type="text"
          name="tags"
          placeholder="tags (';' separated)"
          value=""
        />
      </form>
    </section>

    <section class="notes__section">
      <!-- NOTES -->
      {% if notes %}
      <div class="notes">
        {% for note in notes %}
        <a
          href="{{ url_for('note.edit_note', note_id=note._id) }}"
          class="notes__container"
        >
          <h3 class="notes__container--title">{{ note.title }}</h3>

          <p class="notes__container--content">{{ note.content }}</p>
          <div class="notes__container--tags">
            {% for tag in note.tags %}
            <span class="notes__container--tags--tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <div class="notes__container--date">
            <span>{{ note.lastModified.strftime('%H:%M %d/%m/%Y') }}</span>
          </div>
          <div class="notes__container--actions">
            <!-- Delete note -->
            <form
              action="{{ url_for('note.delete_note', note_id=note._id) }}"
              method="post"
            >
              <button type="submit" class="notes__container--actions--button">
                <img
                  src="https://unpkg.com/lucide-static@latest/icons/trash-2.svg"
                />
              </button>
            </form>
          </div>
        </a>
        {% endfor %}
      </div>
      {% else %}
      <div class="notes__empty">
        <p>No notes yet</p>
      </div>
      {% endif %}
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
