<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="container">

    <!-- Success -->
    {% if success %}
    <div id="success">
      <p>{{ success }}</p>
    </div>
    {% endif %}

    <!-- Error -->
    {% if error %}
    <div id="error">
      <p>{{ error }}</p>
    </div>
    {% endif %}

    <section class="sign-in">
      <!-- If there is any error, display -->
      {% if error %}
      <div id="error">
        <p>{{ error }}</p>
      </div>
      {% endif %}
      <!-- If there is any error, display -->

      <nav class="sign-in__nav">
        <a href="{{ url_for('index') }}">
          <img
            src="https://unpkg.com/lucide-static@latest/icons/chevron-left.svg"
          />
        </a>
      </nav>
      <div class="sign-in__image-container">
        <img
          class="logo"
          src="../static/images/logo memomingle.png"
        />
      <div class="sign-in__form-container">
        <h2 class="sign-in__heading"><strong>MemoMingle</strong><br>Notes at Your Fingertips, Anywhere, Anytime!</h2>
        <form
          class="sign-in__form"
          action="{{ url_for('auth.sign_up') }}"
          method="post"
        >
          <label class="sign-in__form--label" for="username">Username</label>
          <input
            class="sign-in__form--input"
            type="text"
            name="username"
            placeholder="Username"
          />

          <label class="sign-in__form--label" for="password">Password</label>
          <input
            class="sign-in__form--input"
            type="password"
            name="password"
            placeholder="Password"
          />
          <label class="sign-in__form--label" for="confirm-password">
            Confirm Password
          </label>
          <input
            class="sign-in__form--input"
            type="password"
            name="confirm-password"
            placeholder="Confirm Password"
          />

          <input
            class="sign-in__form--submit"
            type="submit"
            value="Sign Up"
            class="button"
          />
        </form>
        <div class="sign-in__link">
          <span>Already have an account? </span>
          <a href="{{ url_for('auth.sign_in') }}">Sign In</a>
        </div>
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
